/* Todos los elementos de la pagina */
*{
  font-size: 16px;
  font-family: 'comic sans ms', cursive, sans-serif;
}
/* Todos los parrafos de la pagina */
p{
   color: blue;
 }

/* Todos los párrafos contenidos en "primero" */
#primero p{
  color: red;
}

/* Todos los enlaces la pagina */
a{
  color: rgb(0, 255, 55);
}

/* Los elementos "em" contenidos en "primero" */
#primero em{
  background-color: #FFFFCC;
}

/* Todos los elementos "em" de clase "especial" en toda la pagina */
.especial{
  background-color: #FFCC99;
}

/* Elementos "span" contenidos en la clase normal */
.normal{
  font-weight: bold;
}
/* Cambia el color cuando el enlace está seleccionado (focus) */
a:hover {
    color: orange;
}
/* Cambia el color cuando el enlace está al hacer clic */
a:active {
    color: rgb(242, 255, 0);
}
/* Cambia el color cuando el enlace ha sido visitado */
a:visited {
    color: purple;
}